* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;

    background: black;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game {
    width: 100vmin;
    height: 100vmin;
}
