pb-box {
    display: block;
    width: 70px;
    height: 70px;

    position: absolute;

    transform-origin: center;
    scale: 0;

    pointer-events: none;
    user-select: none;

    transition: scale 0.05s ease;
}

pb-box > div {
    position: absolute;

    top: -10px;
    left: 0;

    width: 100%;
    height: 5px;

    border-radius: 5px;

    background-image: linear-gradient(#53e453), linear-gradient(#241c2c);
    background-size: 100% 100%, 100% 100%;
    background-position: left center, left center;
    background-repeat: no-repeat, no-repeat;

    z-index: 1;
}

pb-box > img {
    display: block;
    width: 100%;
    height: 100%;

    transform-origin: center;

    filter: drop-shadow(0 -10px 10px #7588756e);
}

@keyframes box-hit {
    0% {
        scale: 1;
        translate: 0;
        rotate: 0;
    }

    20% {
        scale: 1.1;
        translate: 0 -5%;
    }
}
