pb-lane {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to bottom, #3b3b3b 0px, #3b3b3b 1px, #4d4d4d 10px);
    background-size: 100% 40px;
    background-repeat: repeat-y;

    animation: conveyor-belt 13s infinite linear;

    border-radius: 0 0 8px 8px;

    box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
}

@keyframes conveyor-belt {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 800px;
    }
}

pb-lane:hover {
    filter: brightness(1.2) saturate(0.8);
}
