#stats {
    position: absolute;

    top: 50%;
    right: 16px;
    translate: 0 -50%;

    width: 150px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

#money {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 32px;
}

#upgrade-attack-speed-p {
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: end;
}

#upgrade-attack-speed {
    font-size: 24px;
    padding-inline: 0;
    display: block;
    width: 100%;
}
